<div class="{{ block }}">
	<div class="{{ block.elem('list') }}">
		{% for social in list %}
			<a
				class="{{ block.elem('link').mod('type', social.type) }}"
				href="{{ social.link }}"
				target="_blank"
				title="{{ social.name }}"
			>{{ social.name }}</a>
		{% endfor %}
	</div>
</div>
