{# @var boolean withoutContainer #}
{# @var string content #}
{# @var string header #}
{# @var string footer #}
<div class="{{ block.cls }}">
	<main class="{{ block.elem('content') }}">
		{% if not withoutContainer %}
			<div class="{{ block.elem('page-container') }}">
		{% endif %}

			{{ content }}

		{% if not withoutContainer %}
			</div>
		{% endif %}
	</main>
	<header class="{{ block.elem('header') }}">
		{{ header }}
	</header>
	<footer class="{{ block.elem('footer') }}">
		{{ footer }}
	</footer>
</div>
